<table class="table" *ngIf="selectedCountry">
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Currencies</th>
      <th>flag</th>
    </tr>
    <tr>
      <td>
        {{selectedCountry.name.common}}
      </td>
      <td>
        {{selectedCountry.capital.join()}}
      </td>
      <td>
        {{selectedCountry.population}}
      </td>
      <td>
        <div style="display: flex; flex-direction: column;">
          <span *ngFor="let obj of getValue(selectedCountry.currencies);" style="font-size: small;">
        
            {{obj.name}}
            {{obj.symbol}}
         
      
        </span>
        </div>
        

        
      </td>
      <td>
        <img [src]="selectedCountry.flags[0]" style="height: 100px; width: 100px;"/>
        
      </td>
    </tr>
  </table>

  <button class="btn btn-primary"  (click)="loadCountry()">Load Country</button>